<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177120544304-vmhutqbh8g0csn6ksqashr8192aos3rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177120544304-vmhutqbh8g0csn6ksqashr8192aos3rk</string>
	<key>API_KEY</key>
	<string>AIzaSyDclASdYPrIHgyQhV63Mig5qHZZEkd7_cE</string>
	<key>GCM_SENDER_ID</key>
	<string>177120544304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.missouri.TigerHacks-App</string>
	<key>PROJECT_ID</key>
	<string>tigerhacks</string>
	<key>STORAGE_BUCKET</key>
	<string>tigerhacks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177120544304:ios:6a022230115c9aef844ff5</string>
	<key>DATABASE_URL</key>
	<string>https://tigerhacks.firebaseio.com</string>
</dict>
</plist>