<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101828787945-an103083gbmsk9r108i1ovka3mkphaf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101828787945-an103083gbmsk9r108i1ovka3mkphaf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101828787945-sf3usrs1i7505q2virc9evf33mtokfj3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC13zJBGpl41NBWCasY7DZoVcM934hwcmI</string>
	<key>GCM_SENDER_ID</key>
	<string>101828787945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.missouri.TigerHacks-App</string>
	<key>PROJECT_ID</key>
	<string>tigerhacksapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tigerhacksapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101828787945:ios:75b0bee34cda89c0</string>
	<key>DATABASE_URL</key>
	<string>https://tigerhacksapp.firebaseio.com</string>
</dict>
</plist>